In [1]:
import pandas as pd

In [2]:
merchants = pd.read_excel('./merchants.xlsx')
transactions = pd.read_excel('./transactions.xlsx')

In [3]:
merchants.describe()

               coef    merchantid
count  13158.000000  1.315800e+04
mean       0.506916  1.088141e+08
std        0.281154  8.697127e+07
min        0.050000  1.868000e+03
25%        0.252500  6.170329e+07
50%        0.500000  9.813278e+07
75%        0.750000  1.060553e+08
max        1.000000  3.058987e+08

In [4]:
transactions.describe()

,citizenid,cost,fraudbits,logid,marketid,merchantid,model_cost
count,9.999900e+04,99999.000000,99999.000000,9.999900e+04,9.999900e+04,9.999900e+04,99999.000000
mean,4.006358e+18,32.272734,0.012800,5.695226e+18,1.540520e+06,9.387718e+07,341.573036
std,2.990155e+18,60.034889,0.112412,5.382938e+15,2.651613e+06,7.337488e+07,910.820885
min,0.000000e+00,0.000000,0.000000,5.682129e+18,2.000000e+00,1.868000e+03,10.030000
25%,1.184813e+18,5.490000,0.000000,5.691333e+18,1.830000e+02,5.752423e+07,37.500000
50%,3.943562e+18,14.630000,0.000000,5.695393e+18,4.968800e+04,9.249288e+07,100.000000
75%,6.677073e+18,35.370000,0.000000,5.699672e+18,1.837175e+06,1.035543e+08,300.000000
max,9.223301e+18,2231.310000,1.000000,5.704778e+18,1.211478e+07,3.058987e+08,32653.680000